{
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "rules": {
        "semi": [
            2,
            "always"
        ],
        "no-console": 0
    }
}